body{
    margin-top: 2rem;
    z-index: 0;
}
.header{
    position: sticky;
    margin: auto;
    width: 100%;
    padding-top: 150px;
    
}
    
.header, .h1 {
    font-size: 70px;
    display: inline;
    margin-left: 20rem;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    width: 50%;
    padding-right: 20px;
}

p{
    margin-top: 5rem;
}

h1{
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

h2{
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

div.container img {
    width: 100%;
    height: auto;
    border-radius: 2px;
  }

div.container{
    margin: 25px;
    border: 1px solid #ccc;
    border-radius: 10px;
    float: left;
    width: 180px;
    transition: 1s ease;
}

div.item{
    padding: 25px;
    text-align: center;
}
a{
    color: black;
  background-color: transparent;
  text-decoration: none;
}

div.container:hover {
    border: 1px solid #777;
    box-shadow: -2px 2px 28px 2px rgba(0,0,0,0.7);
-webkit-box-shadow: -2px 2px 28px 2px rgba(0,0,0,0.7);
-moz-box-shadow: -2px 2px 28px 2px rgba(0,0,0,0.7);
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
transition: 1s ease;
  }